[user]
	name = Steven Schulteis
	email = schult@gmail.com
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/schult/.gitignore
[alias]
	adog = log --all --decorate --oneline --graph
	dog = log --decorate --oneline --graph
